html, 
body,
.background {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #454442;
	font-family: "Ubuntu", sans-serif;
}
.background {
	/* Generated middle color */
	background-color: #6f2162;
	/* background-image: url(../img/ubuntu-background.jpg); */

	/* SVG background-image made by https://github.com/killfactory */
	background-image: url(../img/background.svg);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f2162+0,ed9017+100 */
	/* background: radial-gradient(circle farthest-corner at 0% 100%,  rgba(109,34,99,1) 0%, rgba(109,34,99,1) 25%, rgba(194,70,46,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: cover;
}
.block-content {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 10;
}
/* ======== Top panel ======== */
.panel {
	width: 100%;
	height: 23px;
	line-height: 23px;
	font-size: 14px;
	cursor: default;
	letter-spacing: 0.75px;
	color: #fff;
	background-color: #4d4c45;
	background: -moz-linear-gradient(#5a584f, #403f3a);
	background: -o-linear-gradient(#5a584f, #403f3a);
	background: -webkit-linear-gradient(#5a584f, #403f3a);
	background: -webkit-gradient(#5a584f, #403f3a);
	background: linear-gradient(#5a584f, #403f3a);
	border-top: 1px solid #626055;
	box-shadow: 0 3px 8px 1px #222;
}
.panel-title-text {
	float: left;
	margin-left: 8px;
}
.panel-icon-set {
	float: right;
	height: 100%;
	min-width: 10px;
	margin-right: 8px;
	letter-spacing: 0.55px;
	/* Maybe word-spacing? */
	color: #eee;
}
.panel-icon-set img {
	height: 22px;
	width: 22px;
	margin-right: 7px;
}
.panel-icon-set .battery-icon {
	width: 29px;
}
.wifi-icon {
	position: relative;
	top: -1px;
}
.clock {
	display: inline-block;
	position: relative;
	top: -6px;
	min-width: 64.141px;
	color: #dfdbd2;
	text-align: right;
}
/* ======== Credits ======== */
#credits {
	z-index: 15;
}
.credits {
	display: none;
	position: absolute;
	top: 25%;
	max-width: 200px;
}
.credits .credits-body {
	min-height: 70px;
}
.credits-link {
	margin-bottom: 5px;
	color: #797f8b;
	text-decoration: none;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.credits-link:hover {
	color: #454442;
}
/* ======== Window box ======== */
.app-window {
	top: 10%;
	display: none;
	z-index: 5;
	max-width: 500px;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #59574e;
	box-shadow: 0 0 20px 1px #222;
}
/* ======== Random quote app ======== */
/* ======== Window box title ======== */
.window-title {
	height: 26px;
	line-height: 26px;
	text-align: left;
	/* cursor: default; */
	background-color: #4c4b45;
	background: -moz-linear-gradient(#59574f, #3f3e3a);
	background: -o-linear-gradient(#59574f, #3f3e3a);
	background: -webkit-gradient(#59574f, #3f3e3a);
	background: -webkit-linear-gradient(#59574f, #3f3e3a);
	background: linear-gradient(#59574f, #3f3e3a);
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #626055;
	border-bottom: 1px solid #41403b;
}
.title-button {
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 50%;
}
.close-button {
	margin-top: 4px;
	margin-left: 7px;
	background-color: #e55e30;
	/*
	background: -moz-linear-gradient(#d59a65, #d4521d);
	background: -o-linear-gradient(#d59a65, #d4521d);
	background: -webkit-gradient(#d59a65, #d4521d);
	background: -webkit-linear-gradient(#d59a65, #d4521d);
	background: linear-gradient(#d59a65, #d4521d);
	*/
	background-image: url(../img/close-button.jpg);
}
.close-button:hover {
	background-color: #f27e59;
	background-image: url(../img/close-button-hover.jpg);
}
.minimize-button {
	margin-left: -1px;
	background-color: #6d6c66;
	/*
	background: -moz-linear-gradient(#959595, #56544c);
	background: -o-linear-gradient(#959595, #56544c);
	background: -webkit-gradient(#959595, #56544c);
	background: -webkit-linear-gradient(#959595, #56544c);
	background: linear-gradient(#959595, #56544c);
	*/
	background-image: url(../img/minimize-button.jpg);
}
.minimize-button:hover {
	background-color: #c0c0c0;
	background-image: url(../img/minimize-button-hover.jpg);
}
.title-text { /* Also panel title text */
	display: inline-block;
	font-size: 14px;
	letter-spacing: 0.75px;
	font-weight: 600;
	color: #fff;
	/* Text outline */
	text-shadow:
		-1px -1px 0 #37383c,  
		1px -1px 0 #37383c,
		-1px 1px 0 #37383c,
		1px 1px 0 #37383c;
}
.window-title-text {
	position: relative;
	top: -2px;
	margin-left: 9px;
	/* Breaks draggable -> cursor: move
	cursor: default; */
}
/* ======== Window box body ======== */
.window-body {
	padding: 20px;
	padding-left: 3%;
	padding-right: 3%;
	min-height: 150px;
	font-size: 15px;
	background-color: #fff;
}
.buttons {
	text-align: center;
	letter-spacing: 0.60px;
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 0;
}
.button {
	display: inline-block;
	min-width: 60px;
	padding: 4px 10px;
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
	font-size: 14px;
	cursor: default;
	color: #4c4c4c;
	background-color: #f9f8f8;
	background: -moz-linear-gradient(#fffefe, #f3f2f1);
	background: -o-linear-gradient(#fffefe, #f3f2f1);
	background: -webkit-gradient(#fffefe, #f3f2f1);
	background: -webkit-linear-gradient(#fffefe, #f3f2f1);
	background: linear-gradient(#fffefe, #f3f2f1);
	border-radius: 4px;
	border: 1px solid #b7b7b7;
}
.button:hover {
	box-shadow: 0 1px 1px 1px #e1e1e1;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}
.button-disabled {
	border: 1px solid #c0c0c0;
	color: #777;
}
.button-disabled:hover {
	border: 1px solid #c0c0c0;
	box-shadow: none;
}
